// Place all the styles related to the api/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-all-books {
  display: flex;
  width: 100%;
  padding-top: 81px;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

.BookMainIndexItem {
  display: flex;
  margin: 20px;
  text-decoration: none;
  color: black;
}

.main-book-hold-div {
  width: 180px;
  height: 275px;
}

.book-main-description {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.book-index-pic {
  width: 180px;
  height: 270px;
  border-radius: 4px;
  transition: width, box-shadow 0.3s;
  box-shadow: 0px 0px 5px grey;
  position: absolute;
}
.book-index-pic:hover {
  width: 205px;
  height: auto;
  border-radius: 4px;
  position: absolute;
  box-shadow: 10px 10px 5px grey;
}

.book-show-component {
  padding: 30px;
  padding-top: 94px;
  display: flex;
  justify-content: space-between;
}

.book-show-cover {
  border-radius: 4px;
  width: 260px;
  height: 400px;
  box-shadow: 3px 2px 5px grey;
}

.book-text {
  display: flex;
  min-width: 300px;
  padding: 20px;
  flex-direction: column;
}

.book-text h2 {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 600;
}

.book-show-left {
  display: flex;
  flex-direction: row;
}

.book-text h3 {
  font-size: 22px;
  font-weight: 500px;
}

.book-text p {
  margin: 3px;
}

.read-status-book-show {
  height: 350px;
  width: 320px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  border-left: solid 1px black;
  padding-left: 15px;
  font-size: 18px;


}

.status-form {
  padding: 2px;
  margin: 7px;
  border-radius: 4px;
}

.read-status-book-show button {
  margin: 5px;
  color: white;
  background-color: #182059;
  height: 30px;
  width: 148px;
  border-radius: 4px;
  border-color: #303242;
  font-size: 14px;
}

.read-status-book-show button:hover {
  cursor: pointer;
  color: white;
  background-color: #16202d;
}

.status-form {
  min-width: 275px;
  display: flex;
  justify-content: center;
}

.read-status-book-show select:hover {
  cursor: pointer;
}

.read-status-book-show select {
  margin: 5px;
  height: 30px;
  border-radius: 4px;

}

.read-status-book-show h2 {
  font-size: 25px;
  padding: 10px;
  font-weight: 500;
}

.read-status-book-show ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.read-status-book-show ul li {
  padding: 10px;
  font-size: 22px;
}

.book-main-description {
  font-size: 16px;
  color: black;
  font-weight: 500;
  max-width: 180px;
  overflow: hidden;
}
