.main-nav {
  display: flex;
  width: 100%;
  background-color: #303242;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: white;
  position: fixed;
  z-index: 5;
}

img.nav-logo {
  height: 40px;
  width: auto;
  margin: 4px;
  margin-right: 10px;
  padding-left: 10px;
}

img.user-nav-icon {
  height: 50px;
  width: auto;
  margin: 4px;
}

div.right-navbar {
  display: flex;
  width: auto;
  flex-direction: row;
}

.site-name-nav {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  text-decoration: none;
  color: white;
}

div.left-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

button.nav-logout:hover {
  background-color: #16202d;
  cursor: pointer;
}

button.nav-logout {
  padding-top: 21px;
  padding-bottom: 22px;
  border: none;
  background-color: #303242;
  color: white;
}

.nav-panel a {
  display: flex;
  height: 100%;
  color: white;
  padding-top: 21px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 15px;
}

.nav-panel-right a {
  display: flex;
  // height: 100%;
  color: white;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 12px;
  padding-right: 12px;
}

.nav-panel a:hover {
  background-color: #16202d;
}
.nav-panel-right a:hover {
  background-color: #16202d;
}

.searchbar-div i {
  padding-left: 5px;
  padding-right: 5px;
}

.nav-panel:hover {
  display: flex;
  height: 100%;
  color: white;
}

.nav-logout {
  padding-right: 12px;
  padding-left: 12px;
  font-size: 16px;
  border-radius: 3px;
}

.nav-search {
  font-size: 16px;
  border-radius: 2px;
  padding: 3px;
  margin-top: 17px;
  margin-right: 7px;
}
