<!DOCTYPE html>
<html>
  <head>
    <title>BetterBooks</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <head>
      <link rel="shortcut icon" type="image/x-icon" href="http://res.cloudinary.com/cloudmccloud/image/upload/v1500568913/BetterBooks/favicon.ico" />
    </head>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
